@{
    ViewData["Titulo"] = "Resultado";
    ViewData["Descricao"] = "Veja o resultado final do Campeonato de filmes de forma simples e rápida.";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-info pull-right">GERAR NOVO CAMPEONATO</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1   bannerLugar">
            1º
        </div>
        <div class="col-md-11 bannerFilmes">
            <p><b>@Model[0].Titulo</b></p>
            <p>@Model[0].AnoLancamento</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1   bannerLugar">
            2º
        </div>
        <div class="col-md-11 bannerFilmes">
            <p><b>@Model[1].Titulo</b></p>
            <p>@Model[1].AnoLancamento</p>
        </div>
    </div>
</div>
